block content
  h1= title
  - let results = [{State1: "Andhra", State2: "Telangana", State3:  "Delhi"},{State1:"Karnataka", State2: "Tamilnadu", State3:"Goa"},{State1:"Haryana" , State2 :"Assam", State3 :"Sikkim"}]
  div(class="container-fluid mt-3")
  div(class="row")
    each temp,index in results
        div(class="col-sm-2" onclick=`buy(${index})`)  #{temp.State1} -  #{temp.State2} - #{temp.State3}
  br
  div(class="container-fluid")
    div(class="row")
    - for(var i=0;i<results.length;i++) {
        div(class="col-sm-2" width="215px" onClick=`buy(${i+1})`) #{results[i].State1}
    -}
  script. 
    function buy(indexNum) {
      alert(`You purchased item ${indexNum}`);
    }